.skills{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans' sans-serif;
    padding: max(10px, 5vh) 7%;
    top:60px;
    position: relative
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,120,255,0.7);
    box-shadow:  5px 5px 10px #000000;
    border-radius: 20px;
    padding: 2%;
}

.header{
    font-size: 2em;
    font-weight: 700;
    color: #fff;

    /* text-decoration: underline; */
}

.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ring{
    border: 10px solid #fff;
    background: #0078ff;
    border-radius: 50%;
    height: 100px;
    flex: 0 1 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 1em 0;
}

.ring:hover{
    border: 10px solid #0078ff;
    background: #fff;
}

.line{
    width: 50%;
    height: 2px;
    background: #fff;
    border: 0px;
    border-radius: 5px;
}

@media (min-width: 480px ){
    .skills{
        /* display: none; */
        width: 90%;
    }

    .ring{
        /* font-size: 1.3em; */
        height: 100px;
        flex: 0 1 100px;
        margin: 1em 1em;
    }
}

@media (min-width: 786px ){
    .skills{
        width: 90%;
    }

    .header{
        font-size: 3em;
    }

    .ring{
        font-size: 1.6em;
        height: 150px;
        flex: 0 1 150px;
        margin: 1em 1em;
    }
}
