.navbar{
    width: 100%;
    max-height: 60px;
    position: fixed;
    z-index: 1;
    padding: 0 7%;
    background-color: #fff;
    transition: background-color 2s ease-in-out;
}


.top_navbar{
    background-color: #000;
}

.open_navbar{
    /* transition: max-height 2s ease-in-out; */
    max-height: max-content;
}

.bar{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    color: #0078ff;
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
}


.name:hover{
    color: #002c5d;
}
/* 
.top_name{
    color: #fff;
} */

.hamburger_button{
    width: 2em;
    height: 19.6px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10;
}


.hamburger_button > span{
    width: 100%;
    border:0px;
    height: 3px;
    border-radius: 15px;
    background: #0078ff;
    opacity: 1;
    display: block;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;  
}

/* 
.top_hamburger_button > span{
    background: #FFF;
} */

.hamburger_button > span:nth-child(1){
    top:0;
}


.hamburger_button > span:nth-child(2){
    top:3px;
    margin: 4.8px 0;
}

.hamburger_button > span:nth-child(3){
    top:15.6px;
}

.open_button span:nth-child(1){
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top:7.8px;
}

.open_button span:nth-child(2){
    opacity: 0;
}

.open_button span:nth-child(3){
  top:7.8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.menu{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 60px;
    background-color: #fff;
    left: 0;
    padding: 0 7%;
    transition: visibility 0s ease-in-out, opacity 0.5s ease-in-out, background-color 2s ease-in-out,transform 1s ease-in-out;
    transform: translateY(-150%);
}

.open_menu{
    transform: translateY(0%);
    display: flex;
    visibility: visible;
    opacity: 1;
}


.items{
    display: flex;
    justify-content: left;
}

.items a{
    font-weight: 600;
    color:#0078ff;
    font-size: 1.2em;

}

.items a:hover{
    color: #002c5d;
}
/* 
.items a:before{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0078ff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.items a:hover:before{
    visibility: visible;
  transform: scaleX(1);
} */

@media (min-width: 786px ){
    .bar{
        flex-direction: row;
        justify-content: space-between;
    }
    .hamburger_button{
        display: none;
    }
    .wrapper{
        width: 9em;
    }
    .menu{
        width: calc(100% - 20vw);
        height: 60px;
        top:0px;
        transform: translateY(0%);
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        padding: 0;
        align-items: center;

    }

    .top_menu{
        background-color: #000;
    }
}

